@{

}
<!DOCTYPE html>
<html>

<div id="About Us" class="tabcontent">
    <div class="jumbotron" id="about">
        <h1 class="display-4" style="color:black">About Us</h1>
        <hr class="my-4">
        <p class="lead">The United States Candidate-Committee Financial Management Information Center was inaugurated in 2020 by 3 students pursuing their Masters at USF.</p>
        <p class="lead">This website hopes to assist viewers in understanding the financial decisions of each candidate.</p>


    </div>
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="~/img/Bharat1.jpg" alt="Bharat" width="100%" height="500">
                <div class="container">
                    <h2>Mr. Bharat Tejwani</h2>
                    <p class="title">Masters in Business Administration and Business Analytics and Information Systems</p>
                    <p>Mr. Tejwani is currently pursuing his double masters and hopes use his education and 4+ years experience to become a data analyst.</p>
                    <p>His contributions include creating and designing various pages of the website </p>
                    <p>Bharatt@usf.edu</p>
                </div>
            </div>
        </div>


        <div class="column">
            <div class="card">
                <img src="~/img/Pereyra2.jpg" alt="Pereyra" width="100%" height="500">
                <div class="container">
                    <h2>Pereyra Anne</h2>
                    <p class="title">Masters in Health Informatics and Business Analytics and Information Systems</p>
                    <p>Pereyra previously acquired a Masters of Science in Health Informatics in 2016 and is currently pursuing her Masters of Science in Business Analytics and Information Systems.</p>
                    <p>Her contributions include creating and designing various pages of the website </p>
                    <p>apereyra1@usf.edu</p>
                </div>
            </div>
        </div>


        <div class="column">
            <div class="card">
                <img src="~/img/Stefan1.jpg" alt="Stefan" width="100%" height="500">
                <div class="container">
                    <h2>Mr. Stefan Seepaul</h2>
                    <p class="title">Masters in Business Analytics and Information Systems</p>
                    <p>Mr. Seepaul is pursuing his Masters part time while working as a Data Administrator at USF. He has over 6 years of experience in this field. </p>
                    <p>His contributions include exploring existing APIs, obtaining sample data and creating the data model and reports. </p>
                    <p>saseepaul@usf.edu</p>
                </div>
            </div>
        </div>


        <div class="jumbotron">
            <h1 class="display-4" style="color:black">Entity Relationship Diagram</h1>
            <hr class="my-4">
            <p class="lead">A snapshot of the data structure implemented in our database.</p>

            <center><img src="~/img/ERD.jpeg" alt="ERD" width="50%" height="400"></center>

            <center><p><a href="https://github.com/Bharatt1/DISAssignment3">GitHub </a></p></center>
            <head>
                <style>
                    * {
                        box-sizing: border-box;
                    }

                    .column {
                        float: left;
                        width: 33.33%;
                        padding: 5px;
                    }

                    .row::after {
                        content: "";
                        clear: both;
                        display: table;
                    }
                </style>
            </head>
        </div>
    </div>
