@model ChartModel



@{ }



<!DOCTYPE html>



<html lang="en" xmlns="http://www.w3.org/1999/xhtml">




<head>
    <div id="Chart" class="tabcontent">
        <div class="jumbotron jumbotron-fluid" id="Chart">
            <div class="container">
                <h1 class="display-4" style="color:black">Chart</h1>
                <p1 class="lead">The chart provided contains the top 10 most funded states in the United States of America.</p1>
            </div></p>
        </div>
    </div>
</head>



<head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
</head>
<body>



    <canvas id="barchartexample" width="300" height="200"></canvas>



    <script>
    new Chart(document.getElementById("barchartexample"), {
      type: '@Model.ChartType',
      data: {
        labels: [@Html.Raw(@Model.Labels)],
        datasets: [
          {
            label: "Funding",
                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#E0BBE4", "#FEC8D8", "#FCF1D8", "#92A0CF", "#C2D6C4"],
            data: [@Model.Data]
          }
        ]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: '@Model.Title'
        }
      }
    });
    </script>



</body>
</html>