@model MVC_EF_Start.Models.Committees


<!DOCTYPE html>
<html>


<div id="Home" class="tabcontent" style="display:block">
    <!-- Header -->
    <div class="jumbotron">
        <head>
            <h1><center>United States Candidate-Committee Financial Management Information Center</h1></center>
            <p1><center>Fostering transparency and informed voting since 2020</p1></center>
        </head>
    </div>

    <p2 style="color:gray"><center>Our website provides data on the financial cashflow and expenditures of U.S. federal</p2></center>
    <p3 style="color:gray"><center> candidates and their committee linkages.</p3></center>
    <center><img src="~/img/USAFLAG1.jpg" alt="USAFLAG" width="1000" height="500"></center>

    <div class="jumbotron">
        <p4 class="lead">The data available on this website was provided by the Federal Election Commission (FEC), an independent regulatory agency of the United States whose purpose is to enforce campaign finance law in United States federal elections.</p4>
        <hr class="my-4">
        <p5 class="lead"><U><I>FUN FACT</U></I>: Washington spent his entire campaign budget — 50 pounds — on 160 gallons of liquor served to 391 voters. The custom of buying votes with booze was one of the English traditions imported to the American colony.</p5>
    </div>

</div>


