@{
}

<!DOCTYPE html>
<html>
<div id="State data" class="tabcontent">
    <div>
        <center><img src="~/image/USA.jpg" alt="USA" width="1000" height="400"></center>
    </div>

    <div class="jumbotron jumbotron-fluid" id="State data">
        <div class="container">
            <h1 class="display-4" style="color:black">State Data</h1>
            <p1 class="lead">The table provided contains State expenditures and cash flows for participating U.S. 2020 election candidates and their respective committees as provided by the FEC.</p1>
        </div></p>
    </div>

</div>
</div>
